body {
  margin: 0;
  /* font-family: "Nova Mono", monospace; */
  /* font-family: "Overpass", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1rem;
  background-color: #fff;
  color: #38302e;
}

a {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 171, 158);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 140, 129);
}
