body {
  margin: 0;
  /* font-family: "Nova Mono", monospace; */
  /* font-family: "Overpass", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.1rem;
  background-color: #fff;
  color: #38302e;
}

a {
  margin: 0;
  padding: 0;
}
